
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Roboto&display=swap');

  

body {
  margin: 0;
  padding: 0;
}

header {
  height: 124px;
  background-color: #6A4E39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


.logo {
  margin-left: 142px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 250px;
  
}

.navbar a{color: #E0D8CA;
text-decoration: solid;
font-family: "Outfit";
font-size: 20px;}




main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5400px;
  background-color: #E0D8CA;
}

.maincontent {
  width: 80%;
  margin: 0%;
}











.udforsk {
  display: flex;
}

.box-udforsk {
  flex: 1;
  padding: 20px;
  
  margin-right: 20px;
  margin-top: 10%;
  border-radius: 10px;
}

.box-udforsk:last-child {
  margin-right: 0;
}

.box-content-udforsk {
  margin-bottom: 20px;
  margin-left: 25%;
  text-align: left;
  font-family: "Outfit";
  font-size: 50px;
}
.box-content-udforsk p {
  margin-bottom: 20px;
  text-align: left;
  font-family: "Roboto";
  font-size: 30px;

}
.knap-container-udforsk {
  display: flex;
  gap: 10px;
  margin-left: 23%;
}

.knap-container-udforsk a {
  display: inline-block;
  width: 163px;
  height: 66px;
  background-color: #6A4E39;
  color: black;
  text-align: center;
  line-height: 66px;
  text-decoration: none;
  border-radius: 25px;
  font-family: "Outfit";
  font-size: 15px;
  font-weight: bold;
}

.billede-box-udforsk {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.billede-box-udforsk img {
  max-width: 100%;
  max-height: 100%;
  
}













.samarbejde {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 450px;
}

.samarbejde h3 {
  position: absolute;
  margin-bottom: 350px;
  font-family: "Outfit";
  font-size: 30px;

}

.logoer {
  width: 637px;
  height: 187px;
  background-color: #6A4E39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.padel-logoer {
  width: 437px;
  height: 70px;
  
}

.cuera-logo {
  width: 157px;
  height: 81px;
  
  margin-left: auto;
}








.eksploderet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-eksploderet {
  width: 300px;
  height: 350px;
  
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.box-eksploderet h2{
font-family: "Outfit";
font-size: 25px;

}

.box-eksploderet p{
  font-family: "Roboto";
  font-size: 15px;
  text-align: left;
  }

.image-container-eksploderet {
  width: 312px;
  height: 312px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-eksploderet img {
  width: 230px;
  height: 230px;
  background-color: aqua;
}

.knap-container-eksploderet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

.knap-container-eksploderet a {
  display: inline-block;
  width: 163px;
  height: 66px;
  background-color: #6A4E39;
  color: black;
  text-align: center;
  line-height: 66px;
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 10px;
  font-family: "Outfit";
  font-size: 15px;
  font-weight: bold;
}













.ekslusivt {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ekslusivt h2{
font-family: "Outfit";
font-size: 50px;
font-weight: bold;
width: 30%;
}
 
.ekslusivt p{
  text-align: center;
  font-family: "Outfit";
  font-size: 40px;
  width: 40%;
}


.ekslusivt-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.image-container-ekslusivt {
  width: 312px;
  height: 312px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-ekslusivt img {
  width: 230px;
  height: 280px;
  
}

.knap-container-ekslusivt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

.knap-container-ekslusivt a {
  display: inline-block;
  width: 163px;
  height: 66px;
  background-color: #6A4E39;
  color: black;
  text-align: center;
  line-height: 66px;
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 10px;
  font-family: "Outfit";
  font-size: 15px;
  font-weight: bold;
}













.læs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.læs h2 {
  text-align: center;
  font-family: "Outfit";
  font-size: 50PX;
  font-weight: bold;
  width: 30%;
}

.persona {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.persona-kort {
  width: 300px;
  border: 1px solid #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.persona-kort h2{
font-family: "Roboto";
font-size: 25px;
font-weight: bold;
}

.persona-kort p{
  text-align: center;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
}
.persona-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}











.videre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.box-videre {
  width: 887px;
  height: 386px;
  background: linear-gradient(to right, #6A4E39, #E0D8CA);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-videre {
  text-align: center;
  margin-top: 17%;
}

.content-videre h2 {
  margin-bottom: 170px;
}

.knap-container-videre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  
}

.knap-group {
  margin-right: 15%;
  margin-bottom: 25%;
}
.knap-group h3{
color: rgb(0, 0, 0);
font-family:"Outfit";
font-size: 40px;
}
.knap-group:last-child {
  margin-right: 0%;
}

.knap-group h3 {
  margin-bottom: 25%;
}

.orangeknapper-videre {
  display: inline-block;
  width: 163px;
  height: 66px;
  background-color: #F95000;
  color: black;
  text-align: center;
  line-height: 66px;
  text-decoration: none;
  border-radius: 25px;
  font-family: "Outfit";
  font-size: 15px;
  font-weight: bold;
}










.footer {
  width: 100%;
  height: 254px;
  background: linear-gradient(to right, #6F4E36, #E45008);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10 20px;
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-container img {
  
  height: auto;
}

.kontakt-list {
  margin: 0 25%;
}

.kontakt-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.kontakt-list li {
  margin-bottom: 10px;
}

.nyhedsbrev {
  text-align: right;
}

.nyhedsbrev h3 {
  margin-bottom: 10px;
}

.orangeknapper-footer {
  display: inline-block;
  width: 163px;
  height: 66px;
  background-color: #6A4E39;
  color: #ffffff;
  text-align: center;
  line-height: 66px;
  text-decoration: none;
  border-radius: 25px;
}












.main2 {
  width: 100%;
  height: 2500px;
}


.textpadel {
  text-align: center;
  margin-top: 30px;
}
.textpadel h1{
  font-family: "Outfit";
  font-size: 80px;
  font-weight: bold;
}
.textpadel h2{
  font-family: "Outfit";
  font-size: 35px;
  font-weight: bold;
}
.container-pakhus77 {
  display: grid;
  grid-template-columns: 38% 58%;
  grid-gap: 20px;
  margin-top: 20%;
  margin-right: 0%;



}
.container-pakhus77 p{
font-family: "roboto";
font-size: 18px;
word-wrap: break-word;
white-space: pre-line;
}
.box1-book {
  width: 100%;
  
}

.box2-book {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.box1-book img {
  width: 350px;
  height: 56px;
  width: auto;
  margin-left: 0%;
}

.box1-book p {
  width: 436px;
  height: 600px;
  margin-top: 10px;
  
}

.orangeknapper-book {
  display: inline-block;
  width: 163px;
  height: 66px;
  background-color: #F95000;
  color: #ffffff;
  text-align: center;
  line-height: 66px;
  text-decoration: none;
  border-radius: 25px;
}

.box2-book img {
  width: 264px;
  height: 264px;
  background-color: #6A4E39;
}


.container-padellounge {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 20px;
  margin-top: 10%;

}

.container-padellounge p{
  font-family: "roboto";
font-size: 18px;
word-wrap: break-word;
white-space: pre-line;
}





.main3 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}


.sportenoverskrift {
  text-align: center;
  
}
.sportenoverskrift h1 {
  text-align: center;
  font-family: "Outfit";
  font-size: 60px;
  font-weight: bold;
}

.sportenoverskrift h2 {
  text-align: center;
  font-family: "Outfit";
  font-size: 35px;
  font-weight: bold;
}
.box-sporten {
  display: flex;
  
  padding: 20px;

}

.text-sporten {
  flex: 1;
  
  padding: 50px;
  max-width: 550px;
  margin-right: 15%;
  margin-left: 10%;
  text-align: start;
  font-family: "Roboto";
  font-size: 18px;

}

.text-sporten h3 {
  text-align: start;
  margin-bottom: 10px;
  font-family: "Outfit";
  font-size: 35px;
  font-weight: bold;
}

.billeder-sporten {
  display: flex;
  flex-direction: column;
  padding: 30px;

}

.billeder-sporten img {
  width: 202px;
  height: 202px;
  margin-right: 20px;
  margin-bottom: 20px;

}

.billeder-sporten img:last-child {
  margin-right: 0;

}


.box-popularitet {
  display: flex;
  
  padding: 20px;

}

.text-popularitet {
  flex: 1;
  
  padding: 50px;
  max-width: 550px;
  margin-right: 15%;
  margin-left: 10%;
  text-align: start;
  font-family: "Roboto";
  font-size: 18px;


}

.text-popularitet h3 {
  text-align: start;
  margin-bottom: 10px;
  font-family: "Outfit";
  font-size: 35px;
  font-weight: bold;
}

.billeder-popularitet {
  display: flex;
  flex-direction: column;
  
  padding: 30px;

}

.billeder-popularitet img {
  width: 202px;
  height: 202px;
  margin-right: 20px;
  margin-bottom: 20px;

}

.billeder-popularitet img:last-child {
  margin-right: 0;

}


@media (max-width: 768px) {
  .maincontent {
    padding: 10px;
  }
  
  .box-sporten,
  .box-popularitet {
    flex-direction: column;
  }
  
  .text-sporten,
  .text-popularitet {
    margin-right: 0;
    margin-left: 0;
  }
  
  .billeder-sporten,
  .billeder-popularitet {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .billeder-sporten img,
  .billeder-popularitet img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}









.main4 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2500px;
  background-color: #E0D8CA;
}

.butikkeroverskrift {
  text-align: center;
}
.butikkeroverskrift h1 {
  text-align: center;
  font-family: "Outfit";
  font-size: 65px;
  font-weight: bold;

}
.butikkeroverskrift h2 {
  text-align: center;
  font-family: "Outfit";
  font-size: 55px;
  font-weight: bold;
  
}

  .butikkeroverskrift h3 {
    text-align: center;
    font-family: "Outfit";
    font-size: 45px;
    font-weight: bold;
  
}
.baggrund-text {
  text-align: start;
}

.box-baggrund {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 20px;
}

.text-baggrund {
  width: 690px;
  padding: 20px;
  
  margin-right: 15%;
}

.text-baggrund h4 {
  margin-bottom: 10px;
  text-align: left;
  font-family: "Outfit";
  font-size: 25px;
  font-weight: lighter;

}
.text-baggrund p{
  font-family: "Outfit";
  font-weight: lighter;
  font-size: 18px;
}
.billede-baggrund {
  margin-left: 20px;
  
  margin-left: 15%;
}

.billede-baggrund img {
  width: 280px;
  height: 280px;

}



.bestsellere-text h3 {
  text-align: center;
  font-family: "Outfit";
  font-size: 45px;
  font-weight: bold;
}



.box-bestsellere {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 20px;
}

.text-bestsellere {
  width: 690px;
  padding: 20px;

  margin-right: 15%;
}

.text-bestsellere h4 {
  margin-bottom: 10px;
  text-align: left;
  font-family: "Outfit";
  font-size: 25px;
  font-weight: lighter;
}
.text-bestsellere p{
  font-family: "Outfit";
  font-weight: lighter;
  font-size: 18px;
}
.billede-bestsellere {
  margin-left: 20px;
  
  margin-left: 15%;
}

.billede-bestsellere img {
  width: 280px;
  height: 280px;

}








.bæredygtighed-text {
  text-align: start;
}
.bæredygtighed-text h3{
  text-align: center;
  font-family: "Outfit";
  font-size: 45px;
  font-weight: bold;
}
.box-bæredygtighed {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 20px;
}

.text-bæredygtighed {
  width: 690px;
  padding: 20px;
  
  margin-right: 15%;
}

.text-bæredygtighed h4 {
  margin-bottom: 10px;
  text-align: left;
  font-family: "Outfit";
  font-size: 25px;
  font-weight: lighter;
}
.text-bæredygtighed p{
  font-family: "Outfit";
  font-weight: lighter;
  font-size: 18px;
}
.billede-bæredygtighed {
  margin-left: 20px;
  
  margin-left: 15%;
}

.billede-bæredygtighed img {
  width: 280px;
  height: 280px;

}



.box-miljø {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 20px;
}
.miljøoverskrift h3{
  text-align: center;
  font-family: "Outfit";
  font-size: 45px;
  font-weight: bold;

}
.text-miljø {
  width: 690px;
  padding: 20px;
  
  margin-right: 15%;
}



.text-miljø p{
  font-family: "Outfit";
  font-weight: lighter;
  font-size: 18px;
}

.iframe-miljø {
  margin-top: 20px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billede-miljø img {
  width: 280px;
  height: 280px;
  border: none;
 
}


.orangeknapper-book {
  display: inline-block;
  width: 163px;
  height: 66px;
  background-color: #F95000;
  color: #ffffff;
  text-align: center;
  line-height: 66px;
  text-decoration: none;
  border-radius: 25px;
}